*::after *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.calculator-gird {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  justify-content: center;
}


.calculator-gird>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-gird>button:hover,
.calculator-gird>button:hover {
  background-color: rgba(255, 255, 255, .9);
  transition: .500s;
}


.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .prev-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .cur-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 2.5rem;

}